# PyCharm
.idea/

# Python
__pycache__/
*.pyc
.pytest_cache/

# Large datasets
*.rar
Anonymized_bras_dataset/
Anonymized_onu_dataset/

# Optional: derived or raw data folders
data/raw/*
!data/raw/.gitkeep
data/staged/*
!data/staged/.gitkeep
data/processed/*
!data/processed/.gitkeep
results/tables/*
!results/tables/.gitkeep
results/plots/*
!results/plots/.gitkeep
*.pcap
*.pcapng
*.zip
*.tar
*.gz
